{% extends 'layout.html' %}

{% block body %}
<h1>Welcome <small>{{session.username}}</small></h1>
<div class="conatiner">
    <form action="" method="POST" class="form-inline mt-4 mt-md-4">
        <input name="query_name" class="form-control mr-sm-2" type="text" placeholder="Enter Name" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<hr>
<div class="conatainer">
    <p>These are all the emails currently received!</p>
    <table class="table table-striped">
        <tr>
            <th>Thread ID</th>
            <th>Author</th>
            <th>Content</th>
            <th>Date</th>
        </tr>
        {% for thread in threads %}
        <tr>
            <td><a href="view_thread/{{thread.id}}">{{thread.id}}</a></td>
            <td>{{thread.author}}</td>
            <td class = "show-read-more">{{thread.content}}</td>
            <td>{{thread.date}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}