<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "utf-8">
        <title>My Flask App</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var maxLength = 300;
                $(".show-read-more").each(function(){
                    var myStr = $(this).text();
                    if($.trim(myStr).length > maxLength){
                        var newStr = myStr.substring(0, maxLength);
                        var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                        $(this).empty().html(newStr);
                        $(this).append(' <a href="javascript:void(0);" class="read-more">read more...</a>');
                        $(this).append('<span class="more-text">' + removedStr + '</span>');
                    }
                });
                $(".read-more").click(function(){
                    $(this).siblings(".more-text").contents().unwrap();
                    $(this).remove();
                });
            });
        </script>
        <style type="text/css">
            .show-read-more .more-text{
                display: none;
            }
        </style>
    </head>

    <body>
        
        {% include 'includes/_navbar.html' %}
        <div class = "container">
            {% include 'includes/_messages.html' %}
            {% block body %} {% endblock %}
        </div>
            
    </body>  
</html>